CompileFlags:
  CompilationDatabase: .
  Add:
    - --target=riscv32-unknown-elf
    - -isystem/Users/ian.houser.-nd/.platformio/packages/toolchain-riscv32-esp/riscv32-esp-elf/include/c++/8.4.0
    - -isystem/Users/ian.houser.-nd/.platformio/packages/toolchain-riscv32-esp/riscv32-esp-elf/include/c++/8.4.0/riscv32-esp-elf
    - -isystem/Users/ian.houser.-nd/.platformio/packages/toolchain-riscv32-esp/lib/gcc/riscv32-esp-elf/8.4.0/include
    - -isystem/Users/ian.houser.-nd/.platformio/packages/toolchain-riscv32-esp/riscv32-esp-elf/include
    - -Wno-unknown-warning-option
    - -Wno-unused-command-line-argument
  Remove:
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -march=rv32imc
    - -mabi=ilp32

Diagnostics:
  Suppress:
    - drv_unknown_argument
    - drv_unsupported_opt_for_target
    - attribute_section_invalid_for_target
